name: Build Linux (Production)
on: 
  push:
    branches: [ main ]
jobs:
  build:
    name: "Build"
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.WQHUB_TOKEN }}
          submodules: 'recursive'
      - name: Update submodules
        run: git submodule update --init --remote --recursive
      - name: Install linux dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get upgrade -y
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev libstdc++-12-dev
          sudo apt-get install -y libasound2-dev
          sudo apt-get install -y libfuse2
      - name: Setup appimagetool
        run: |
          sudo wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage -O /opt/appimagetool
          cd /opt/; sudo chmod +x appimagetool; sed -i 's|AI\x02|\x00\x00\x00|' appimagetool; sudo ./appimagetool --appimage-extract
          sudo mv /opt/squashfs-root /opt/appimagetool.AppDir
          sudo ln -s /opt/appimagetool.AppDir/AppRun /usr/local/bin/appimagetool
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: pubspec.yaml
      - name: Install Flutter dependencies
        run: flutter pub get
      - name: Create debug symbols directory
        run: mkdir -p out/linux
      - name: Patch game client
        run: |
          rm lib/game_client/game_client_list.dart
          mv lib/game_client/game_client_list.dart.PROD lib/game_client/game_client_list.dart
      - name: Run tests
        run: flutter test
      - name: Build
        env:
          NO_OPUS_OGG_LIBS: 1
        run: flutter build linux --obfuscate --split-debug-info=out/linux
      - name: Upload bundle
        uses: actions/upload-artifact@v4
        with:
          name: WeiqiHub-linux-x86_64
          path: build/linux/x64/release/bundle/
      - name: Build AppImage 
        run: |
          cp linux/appimage/AppRun build/linux/x64/release/bundle/
          cp linux/appimage/com.walruswq.wqhub.desktop build/linux/x64/release/bundle/
          cp linux/appimage/wqhub.png build/linux/x64/release/bundle/
          appimagetool build/linux/x64/release/bundle WeiqiHub-linux-x86_64.AppImage
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: WeiqiHub-linux-x86_64.AppImage
          path: WeiqiHub-linux-x86_64.AppImage
          compression-level: 0
          retention-days: 7
      - name: Upload debug symbols
        uses: actions/upload-artifact@v4
        with:
          name: debug-symbols-linux
          path: out/linux
          retention-days: 7